<div class="container"[@fade]>
	<app-calendar (getEventsList)="handleEvents($event)" (click)="menuOpen = false"></app-calendar>

	<div class="details" (click)="menuOpen = false">
		<h3 class="details-header">Детали</h3>
		<div class="card" *ngFor="let detail of details" [@flyInOut]>
			<h4 class="card-header">
				<a [routerLink]="['/event/' + detail.id]">{{detail.title}}</a>
			</h4>
			<div class="card-info">
				<div class="time"><md-icon>query_builder</md-icon> {{detail.date | amCalendar}}</div>
				<div class="adress"><md-icon>place</md-icon>{{detail.adress}}</div>
			</div>
			<p class="card-content">{{detail.content | slice:0:150}}</p>
			<div class="card-feedback">
				<a href="#" class="want">Хочу</a>
				<div class="btn-group">
					<button class="share"><md-icon>share</md-icon></button>
					<button class="like"><md-icon>favorite_border</md-icon></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="add">
	<button class="add-button" md-fab (click)="menuOpen = true"><md-icon>add</md-icon></button>
</div>
<div class="add-menu" [class.active]="menuOpen" (click)="menuOpen = false">
	<div class="add-menu-item">Добавить</div>
	<div class="add-menu-item">Редактировать</div>
</div>